option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app/api.py"
container_commands:
  01_copy_files:
    command: "cp ./model.txt /var/app/current/model.txt && cp ./processed_data.csv /var/app/current/processed_data.csv && cp ./HomeCredit_columns_description.csv /var/app/current/HomeCredit_columns_description.csv"

